/* ---- CSS Demo ---- */

/*  --------------- Box Sizing -----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  --------------- Responsive Images -----------------  */

img {
  max-width:100%;
}
/*  --------------- Utility Classes -----------------  */
.container {
  max-width:auto;
  width:94vw;
  margin:40px auto;
}

.img-right {
  float:right;
  margin:20px;
  border:2px solid white;
  padding:4px;
  border-radius:2rem
}

.img-left {
  float:left;
  margin:10px 10px 10px 0;
  border:2px dotted grey;
  padding:3px;
  border-radius:2rem
}

.img-center {
  display:block;
  margin:20px auto;
  border:2px dotted grey;
  padding:3px;
  border-radius:2rem
}


/*  --------------- Home Page -----------------  */

body {
  background-color: black;
  margin:0; 
  color: white;
  font-family: "Sedan", serif;
}

body h1 {
display: none;
}

header.primary {
text-align: center;
font-size: 2rem;
margin: 25px 0;
background-image: url(../img/spacexlogo.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 600px;
}

header.primary nav a:hover {
  background-color: grey;
  text-decoration:underline;
}

header.primary h2 {
position: relative;
top: 500px;
text-shadow: 2px 2px 20px #000000;
font-size: 3.8rem;
}

#content {
font-size: 1.2rem;
margin: 40px;
}

header.primary nav ul {
position:relative;
display:flex;
flex-direction:row;
justify-content:space-between;
padding:10px;
max-width: 1000px;
margin:15px auto;
list-style-type: none;
font-size: 2.5rem;
}

header.primary nav a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 8px;
  border-radius: 15px 15px 15px;
  border: 4px double;
  transition: .5s;
  }

  #content figure {
    float:right;
    padding:3px;
    border-radius:2rem
  }

  #articles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background: white;
  color: black;
  padding: 10px;
  gap: 2rem;
  margin: 40px;
  }

  #articles .post {
  background: black;
  color: white;
  box-shadow:0 8px 16px black;
  padding:10px;
  border-radius:15px;
  font-size:1rem;
  flex:1;
  }  

  .post img {
  border-radius:15px;  
  width: 100%;
  }

  section#articles h2,
  #content h2 {
  flex: 0 0 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  }
  
  footer {
  text-align:center;  
  }
  
  a {
  color: white;  
  }


/*  --------------- History -----------------  */

#history {
padding:40px;
font-size: 1.2rem;
}

header h2 {
text-align: center;
}

table {
  border:5px solid black;
  width:100%;
  margin:40px 0;
  font-size: 1.2rem;
}

table caption {
font-size: 2rem;
background-color: black;
color:white;
}

th {
  background-color:black;
  color:white;
  padding:8px;
}

tr:nth-child(2n) {
  background-color: darkgray;
}

tr:hover {
  background-color: black;
  color: white;
}

td {
  border:3px double;
  padding:15px;
}
/*  --------------- Faqs -----------------  */





/*  --------------- Contacts -----------------  */

section#form {
color: white;
}
 














@media screen and (max-width:600px) {
  header.primary ul {
  flex-direction: column;
  gap:10px;
  max-width:200px;
  margin:auto;
  }
  header.primary nav a {
  display:block;
  }
}