/* ---- CSS Demo ---- */

/*  --------------- Box Sizing -----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  --------------- Responsive Images -----------------  */

img {
  max-width:100%;
}

/*  --------------- Utility Classes -----------------  */
.container {
  max-width:auto;
  width:94vw;
  margin:40px auto;
}

.img-right {
  float:right;
  margin:20px;
  border:2px solid white;
  padding:4px;
  border-radius:2rem
}

.img-left {
  float:left;
  margin:10px 10px 10px 0;
  border:2px dotted grey;
  padding:3px;
  border-radius:2rem
}

.img-center {
  display:block;
  margin:20px auto;
  border:2px dotted grey;
  padding:3px;
  border-radius:2rem
}


/*  --------------- Home Page -----------------  */

body {
  background-color: black;
  margin:0; 
  color: white;
  font-family: "Sedan", serif;
  background-image: url(../img/spaceearthblue.jpg);
  background-repeat: no-repeat;
}

body h1 {
display: none;
}

.primary img{
padding: 120px;
margin-left: 110px;
}

header.primary {
text-align: center;
font-size: 2rem;
margin: 25px 0;
background-position: center;
background-repeat: no-repeat;
height: 600px;
}

header.primary {
background-size: 1500px 400px;
background-position: right;
}

header.primary nav a:hover {
background-color: grey;
text-decoration:underline;
}

header.primary h2 {
position: relative;
top: 50px;
text-shadow: 4px 4px 4px #000000;
font-size: 3.8rem;
}

#content {
font-size: 1.8rem;
margin: 40px;
text-shadow: 5px 5px 5px #000000;
}

header.primary nav ul {
position:relative;
display:flex;
flex-direction:row;
justify-content:space-between;
padding:10px;
max-width: 1000px;
margin:15px auto;
list-style-type: none;
font-size: 2.5rem;
bottom: 190px
}

header.primary nav a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 8px;
  border-radius: 15px 15px 15px;
  border: 4px double;
  transition: .5s;
  }

  #articles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: center;
  background: black;
  color: white;
  padding: 10px;
  gap: 2rem;
  margin-left: 60px;
  }

  #articles .post {
  background: black;
  color: white;
  padding:10px;
  font-size:1.8rem;
  flex:1;
  }  

  section#articles h2,
  #content h2 {
  flex: 0 0 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  }
  
  footer {
  text-align:center;  
  }
  
  a {
  color: white;  
  }

  #colophon {
  font-size: 1.8rem;
  }


/*  --------------- History -----------------  */

#history {
padding:40px;
font-size: 1.8rem;
}


header h2 {
text-align: center;
}

#history header {
font-size: 2rem;
text-decoration: underline;
}

#articles caption{
text-decoration: underline;
padding-bottom: 20px;
}

#articles img{
border-radius: 15px;
width: 900px;
}

table {
  border:5px solid black;
  width:100%;
  margin:50px 0;
  font-size: 1.2rem;
  padding-right: 25px;
}

table caption {
font-size: 3rem;
background-color: black;
color:white;
}

th {
  color:white;
  padding:8px;
  font-size: 2rem;
}

tr{
font-size: 1.7rem;  
}

tr:nth-child(2n) {
  background-color: white;
  color: black;
}

tr:hover {
  background-color: rgb(59, 57, 57);
  color: white;
}

td {
  border:3px double;
  padding:15px;
}
/*  --------------- Faqs -----------------  */

details {
font-size: 2.6rem;
}

details > summary {
  padding: 2px 6px;
  width: auto;
  background-color: black;
  border: double;
  cursor: default;
  margin: 20px;
  border-radius: 15px;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color:black;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}

details[open] > summary {
  background-color: black;
}



/*  --------------- Contacts -----------------  */

#contactform {
background-color: black;
font-size: 2rem;
padding-left: 90px;
padding-top: 20px;
}

.list {
list-style-type: none;
}

#saveForm {
width: 200px;
background-color: crimson;
font-size: 2rem;
}















@media screen and (max-width:600px) {
  header.primary ul {
  flex-direction: column;
  gap:10px;
  max-width:200px;
  margin:auto;
  }
  header.primary nav a {
  display:block;
  }
}