/* ---- CSS Demo ---- */

/*  --------------- Box Sizing -----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  --------------- Responsive Images -----------------  */

img {
  max-width:100%;
}

/*  --------------- Utility Classes -----------------  */

.container {
  max-width:960px;
  width:80vw;
  margin:40px auto;
}

.img-right {
  float:right;
  margin:10px 0 10px 10px;
  border:2px dotted grey;
  padding:3px;
  border-radius:2rem
}

.img-left {
  float:left;
  margin:10px 10px 10px 0;
  border:2px dotted grey;
  padding:3px;
  border-radius:2rem
}

.img-center {
  display:block;
  margin:20px auto;
  border:2px dotted grey;
  padding:3px;
  border-radius:2rem
}

/*  --------------- Global Styles -----------------  */

body {
    background-color: rgb(199, 208, 212);
    font-family: "Cinzel", serif;
    margin:0; 
}

header.primary {
  background-color: antiquewhite;
    color: #1f8b79;
    text-align: center;
    text-shadow: 2px 2px 20px #000000;
/*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;  
/*Single value short hand*/ 
  padding:40px; 
/* T,R,B,L */
  padding: 20px 40px 20px 40px;  
/* Two Value Top/Bottom / L/R */
  padding: 20px 40px;  
}

header.primary h1 {
  font-size: 2.4rem;
  margin: 20px 0 0;
}

header.primary h1 a{
  color: #c99d25;
  text-decoration: wavy;
}

header.primary h2 {
  font-size: 1.8rem;
  margin: 0;
}

header.primary nav {
  max-width: 900px;
  margin: 20px auto;
}

header.primary ul {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header.primary ul li {
  list-style-type: none;
}

header.primary nav a {
  color: greenyellow;
  text-decoration: none;
  background-color: #000000;
  padding: 10px;
  border-radius: 25px 5px 5px;
  border: 2px double;
  opacity: .5;
  transition: .5s;
}

header.primary nav a {
  background-color: rgb(10, 105, 112);
  opacity:3;
}

header.primary nav a:hover {
  background-color: rgba(37, 97, 9, 0.8);
  text-decoration: line-through;
  }

#content {
  line-height:1.5;
}

#content h2 {
  color: chocolate;
  border-bottom:2px dotted rgb(64, 156, 110);
}
#content h3 {
  color:rgb(43, 209, 181);
  border-left:3px solid rgb(122, 49, 49);
  padding:6px;
}

#blog {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
  border-bottom:4px dotted rgb(18, 4, 218);
  padding:3rem 0;
  border-top:4px dotted rgb(5, 2, 216);
}

#blog .post {
  box-shadow:0 8px 16px rgb(151, 49, 97);
  padding:15px;
  border-radius:5px;
  font-size:.8rem;
}

#blog .post:hover{
  box-shadow: 0 8px 16px rgba(27, 25, 139, 0.308);
  opacity:3;
}

#blog figure {
  margin:0;
}

#blog figcaption {
  text-transform:uppercase;
  font-size:.5rem;
  text-align:center;
  color:red;
}

#blog header {
  padding-top:12px;
}

#blog header h2 {
  margin:0;
}

#blog a {
  color: darkgreen;
}

#practice h2 {
  color: chocolate;
  border-bottom:2px dotted rgb(64, 156, 110);
}

caption {
  font-weight:bold;
  margin:15px;
}

table {
  border:1px solid rgb(247, 148, 20);
  width:100%;
  margin:20px 0;
}

th {
  background-color:black;
  color:blanchedalmond;
  padding:8px;
}

tr:nth-child(2n) {
  background-color: darkgray;
}

td {
  border:2px double;
  padding:8px;
}
















aside[role="complementary"] {
  background-color: aquamarine;
  color:orange;
  padding:3rem;
}

aside .container {
  display:flex;
  flex-direction:row;
  gap:30px;
}

aside .container a:last-of-type {
  color:rgb(107, 66, 172);
  display:block;
  text-align:right;
  margin-top:3rem;
}

aside .widget footer {
  display:none;
}

#colophon {
  background-color:rgb(208, 243, 11);
  text-align:center;
  padding:5px;
  font-size:1rem;
}





























@media screen and (max-width:600px) {
  header.primary ul {
  flex-direction: column;
  gap:10px;
  max-width:200px;
  margin:auto;
  }
  header.primary nav a {
  display:block;
  }
}