/* ---- CSS Demo ---- */

/*  --------------- Box Sizing -----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  --------------- Global Styles -----------------  */

body {
    background-color: rgb(199, 208, 212);
    font-family: "Cinzel", serif;
    margin:0; 
}

header.primary {
  background-color: antiquewhite;
    color: #1f8b79;
    text-align: center;
    text-shadow: 2px 2px 20px #000000;
/*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;  
/*Single value short hand*/ 
  padding:40px; 
/* T,R,B,L */
  padding: 20px 40px 20px 40px;  
/* Two Value Top/Bottom / L/R */
  padding: 20px 40px;  
}

header.primary h1 {
  font-size: 2.4rem;
  margin: 20px 0 0;
}

header.primary h1 a{
  color: #c99d25;
  text-decoration: wavy;
}

header.primary h2 {
  font-size: 1.8rem;
  margin: 0;
}

header.primary nav {
  max-width: 900px;
  margin: 20px auto;
}

header.primary ul {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header.primary ul li {
  list-style-type: none;
}

header.primary nav a {
  color: greenyellow;
  text-decoration: none;
  background-color: #000000;
  padding: 10px;
  border-radius: 25px 5px 5px;
  border: 2px double;
  opacity: .5;
  transition: .5s;
}

header.primary nav a:hover {
background-color: rgb(196, 39, 11);
text-decoration: line-through;
}