/* ---- CSS Demo ---- */

/*  --------------- Box Sizing -----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  --------------- Responsive Images -----------------  */


/*  --------------- Utility Classes -----------------  */



/*  --------------- Home Page -----------------  */

body {
  background-color: black;
  margin:0; 
  color: white;
  font-family: "Sedan", serif;
}

body h1 {
display: none;
}

header.primary {
text-align: center;
font-size: 2rem;
margin: 25px 0;
background-image: url(../img/spacexlogo.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 600px;
}

header.primary nav a:hover {
  background-color: grey;
  text-decoration:underline
}

header.primary h2 {
position: relative;
top: 500px;
text-shadow: 2px 2px 20px #000000;
}

header.primary nav ul {
position:relative;
display:flex;
flex-direction:row;
justify-content:space-between;
padding:10px;
max-width: 1000px;
margin:15px auto;
list-style-type: none;
}

header.primary nav a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 8px;
  border-radius: 15px 15px 15px;
  border: 4px double;
  transition: .5s;
}


#articles{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap;
  background: white;
  color: black;
  }

  section#articles h2,
  #content h2 {
  flex: 0 0 100%;
  text-align: center;
  font-size: 2rem;
  }

  footer {
  text-align:center;  
  }
  
  a {
  color: white;  
  }


